cache: pip

services:
  - docker

language: python
dist: trusty
sudo: required
matrix:
  include:
    - os: linux
      dist: trusty
      python: pypy
    - os: linux
      dist: trusty
      python: 2.7
    - os: linux
      dist: trusty
      python: 3.6
    - os: linux
      dist: xenial
      python: 3.7
    - os: linux
      dist: xenial
      python: 3.8
    - os: linux
      dist: xenial
      python: 3.9-dev


before_install:
  # Pull docker images early for a more responsive nosetests run
  - echo zopyx/basex-86 zopyx/existdb-22 zopyx/existdb-30 | xargs -n1 docker pull

install:
  - pip install -U pip setuptools wheel
  - pip install .

script:
  - python setup.py test

after_success:
  - coveralls
