language: python
sudo: false

cache: pip

services:
  - docker

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  # Pull docker images early for a more responsive nosetests run
  - echo zopyx/basex-86 zopyx/existdb-22 zopyx/existdb-30 | xargs -n1 docker pull

install:
  - pip install -U pip setuptools wheel
  - pip install .

script:
  - python setup.py test

after_success:
  - coveralls
